{% load static%}
<!DOCTYPE html>

<html lang= "pt-br" > 
<head>

    <meta charcet="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel = "icon" type = "image/png" href = "{% static 'img/v.png' %}"/>
    <title>  Vagas de emprego  </title>
    
    <script type="module" src="{% static 'js/mascaras.js' %}"></script>
    <link rel="stylesheet" href= "{% static '/style/vagas.css'%}">
    
    <meta charcet="UTF-8">
    <meta name="cor" content="width=device-width,initial=scale=1">
    <meta name="description" content="Vagas de emprego">
    <meta name="keyWords" content="Vagas de emprego, emprego, vagas">
    <meta name="author" content="cor">

</head>
<body>
    {%if request.user.id%}
    <label class="bt_label"><a href="{% url 'minhas_vagas' %}">Minhas vagas</a></label>
    <label class="bt_label" style="color: red;"><a href="{% url 'logout' %}">Sair</a></label>
    <label class="bt_label"><a href="{% url 'curriculo' %}">Meu curriculo</a></label>
    {%endif%}
    {%if not request.user.id %}
    <label class="bt_label"><a href="{% url 'candidato_novo' %}">Cadastras-se</a></label>
    <label class="bt_label"><a href="{% url 'login' %}">login</a></label>
    {%endif%}
    {%for vagas in vagas %}
    <hr>
    <br>
    <h3 id="titulo_vaga">{{ vagas.nome_da_vaga }} </h3>
    <ul class="ul_vaga">
        <li>  <b>Faixa salarial:</b> {{ vagas.faixa_salarial }} </li> <br>
        <li>  <b>Escolaridade minima:</b>  {{ vagas.escolaridade_minima }} </li> <br>
        <li>  <b>Postado em:</b>  {{ vagas.data_hora }} </li> <br>
    </ul>
        
            <label class='link_label'>  <a href="{% url 'candidato' vagas.id %}">
                Candidatar-se </a> </label> <br>
        
    {%endfor%}
</body>
</html>