
<h2>Dados pessoais</h2>
<li>{{request.user.first_name}} {{request.user.last_name}}</li>

<h2>Pretenção salarial</h2>
<li>{{candidato.pretecao_salarial}}</li>
<h2> Escolaridade</h2>
{%for escolaridade in escolaridade%}
<li>{{escolaridade.instituicao}}</li>
<li>{{escolaridade.curso}}</li>
<li>{{escolaridade.data_de_inicio}}</li>
<li>{{escolaridade.data_de_termino}}</li>
<li>{{escolaridade.obiservacao}}</li>
{%endfor%}

<h2>Experiência</h2>
{%for experiencia in experiencia%}
<li>{{experiencia.nome_de_empresa}}</li>
<li>{{experiencia.cargo}}</li>
<li>{{experiencia.data_de_inicio}}</li>
<li>{{experiencia.data_de_saida}}</li>
<li>{{experiencia.obiservacao}}</li>


{%endfor%}

