
{% load static%}
<!DOCTYPE html>

<html lang= "pt-br" >
<head>

    <meta charcet="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel = "icon" type = "image/png" href = "{% static 'img/v.png' %}"/>
    <title>  Vagas de emprego  </title>
    
    <script type="module" src="{% static 'js/mascaras.js' %}"></script>
    <link rel="stylesheet" href= "{% static '/style/curriculo.css'%}">
    
    <meta charcet="UTF-8">
    <meta name="cor" content="width=device-width,initial=scale=1">
    <meta name="description" content="Vagas de emprego">
    <meta name="keyWords" content="Vagas de emprego, emprego, vagas"> 
    <meta name="author" content="cor">

    </head>
    <label class='bt_label'> <a href="{% url 'vagas'%}">Voltar para vagas</a></label>
    <hr>
    <label class="titulo_curriculo">Dados pessoais</label>
        <ul class='ul_curriculo'> 
            <li> <b>Nome:</b>{{dados_pessoais.nome}} {{dados_pessoais.segundo_nome}}</li> <br>
            <li><b>E-mail:</b>{{dados_pessoais.email}}</li><br>
            <li><b>Telefone:</b>{{dados_pessoais.telefone}}</li><br>
        </ul>
        <label class="link_label"><a href="{% url 'dados_pessoais' dados_pessoais.id%}">Atualizar</a></label>
    <hr>
    <label class="titulo_curriculo">Pretenção salarial</label>
        <ul class='ul_curriculo'> 
            <li><b>Pretenção salarial:</b>{{pretencao_salarial.pretencao_salarial}}</li> <br>
        </ul>
        <label class="link_label"><a href="{% url 'pretencao_salarial'%}">Atualizar</a></label>
    <hr>
    <label class="titulo_curriculo"> Escolaridade</label>
        {%for escolaridade in escolaridade%}
        <ul class='ul_curriculo'> 
            <li><b>Instituição:</b>{{escolaridade.instituicao}}</li><br>
            <li><b>Formação:</b>{{escolaridade.curso}}</li><br>
            <li><b>Início:</b>{{escolaridade.data_de_inicio}}</li><br>
            <li><b>Termino:</b>{{escolaridade.data_de_termino}}</li><br>
            <li><b>Obiservação:</b>{{escolaridade.obiservacao}}</li><br>
        </ul>
        <label class="link_label"><a href="{% url 'escolaridade_update' escolaridade.id %}">atualizar</a></label>
        <label class="link_label"><a href="{% url 'escolaridade_confirm_delete' escolaridade.id %}">Excluir</a></label>
        {%endfor%}
        <label class="link_label"><a href="{% url 'escolaridade_create' %}">adicionar</a></label>
    <hr>
    <label class="titulo_curriculo">Experiência</label>
        {%for experiencia in experiencia%}
        <ul class='ul_curriculo'> 
            <li><b>Empresa:</b>{{experiencia.nome_da_empresa}}</li><br>
            <li><b>Cargo:</b>{{experiencia.cargo}}</li><br>
            <li><b>Inicio:</b>{{experiencia.data_de_inicio}}</li><br>
            <li><b>Até:</b>{{experiencia.data_de_saida}}</li><br>
            <li><b>Obiservação:</b>{{experiencia.obiservacao}}</li><br>
        </ul>
        <label class="link_label"><a href="{% url 'experiencia_update' experiencia.id%}">Atualizar</a></label>
        <label class="link_label"><a href="{% url 'experiencia_confirm_delete' experiencia.id%}">Excluir</a></label>
        {%endfor%}
        <label class="link_label"><a href="{% url 'experiencia_create'%}">Adicionar outro</a></label>

<body>
</html>