{% load static%}
<!DOCTYPE html>

<html lang= "pt-br" >

    <head>
        <link rel="stylesheet" href= "{% static 'Style/alerta_delete.css'%}">
    </head>
        <body>
            <div class='div_alerta_delete'>
                <form method="POST">
                    <label>ALERTA!</label>
                     <br>
                     <br>
                    <label class='label_mensagem'>Tem certeza disso?</label>
                     <br>
                     <br>
                    {% csrf_token %}
                    <button type="submit">Confirmar</button>
                     <a href="{% url 'curriculo' %}"><input  type="button" value='Cancelar'></a>
                </form>
            </div>
        </body>
</html>