

    <div class='div_mae'>
      
        <form class='form_logim' method="post" >
            <P  style="color:black; font-size: 25px;">Experiência</P>
            {% csrf_token %}

            <div>
                <label>Nome da empresa</label> <br>
                    <input style='width:200px;' Type='text'
                    maxlength="50"  name= 'nome_de_empresa'id= 'nome_de_empresa' required/>
            </div>

            <div>
                <label>Cargo</label> <br>
                    <input style='width:200px;' Type='text'
                    maxlength="30"  name= 'cargo'id= 'cargo' required/>
            </div>
            <div>
                <label>Data de entrada</label> <br>
                    <input style='width:200px;' Type='date'
                        name= 'data_de_inicio'id= 'data_de_inicio' required/>
            </div>
            <div>
                <label>Data de saida</label> <br>
                    <input style='width:200px;' Type='date'
                        name= 'data_de_saida'id= 'data_de_saida' required/>
            </div>
            <div>
                <label>Observação</label> <br>
                    <input style='width:200px;' Type='text'
                    maxlength="200"  name= 'obiservacao'id= 'obiservacao' required/>
            </div>
                
            <input id='bt_login' type="submit" value="Cadastre-se">
            <br>
            <br>
            
        </form>

<body>
</html>