{% load static%}
<!DOCTYPE html>

<html lang= "pt-br" > 
<head>

    <meta charcet="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel = "icon" type = "image/png" href = "{% static 'img/v.png' %}"/>
    <title>  Vagas de emprego  </title>
    
    <script type="module" src="{% static 'js/mascaras.js' %}"></script>
    <link rel="stylesheet" href= "{% static '/style/vagas.css'%}">
    
    <meta charcet="UTF-8">
    <meta name="cor" content="width=device-width,initial=scale=1">
    <meta name="description" content="Vagas de emprego">
    <meta name="keyWords" content="Vagas de emprego, emprego, vagas">
    <meta name="author" content="cor">

</head>
<body>

    <label class="bt_label"><a style=" color: #1f00cd;" href="{% url 'vagas'%}">Procurar vagas</a></label>
    <hr>
    {%for minhas_vaga in minhas_vagas%}
    <br>
    <h3 id="titulo_vaga">{{minhas_vaga.vaga.nome_da_vaga}} </h3>  
    <br>
    <label class="link_label">  <a href="{% url 'detalhes_da_vaga' minhas_vaga.id%}"> Visualizar candidatura</a> </label>
    <hr>
    {%endfor%}

</body>
</html>