
        <form class='form_logim' method="post" >
            <P  style="color:black; font-size: 25px;">Pretenção salarial</P>
            {% csrf_token %}
            <hr>
            <input class="form_novo_usuário" Type='text' 
                name='pretencao_salarial' id='pretencao_salarial' 
                 placeholder="Pretenção salarial..." required/>
            <br> 
            <br>  
            <input id='bt_login' type="submit" value="atualizar">
            <br>
            <br>
             
        </form>

l>