{% load static%}
<!DOCTYPE html>

<html lang= "pt-br" >
<head> 

    <meta charcet="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel = "icon" type = "image/png" href = "{% static 'img/v.png' %}"/>
    <title>  Vagas de emprego  </title>
    
    <script type="module" src="{% static 'js/mascaras.js' %}"></script>
    <link rel="stylesheet" href= "{% static '/style/vagas.css'%}">
    
    <meta charcet="UTF-8">
    <meta name="cor" content="width=device-width,initial=scale=1">
    <meta name="description" content="Vagas de emprego">
    <meta name="keyWords" content="Vagas de emprego, emprego, vagas">
    <meta name="author" content="cor">

    </head>

        <label class='bt_label'> <a style="color: red" href="{% url 'logout'%}">Sair</a></label>
        <label class='bt_label'> <a  href="{% url 'home'%}">Home</a></label>
        <label class='bt_label'> <a  href="{% url 'criar_vaga'%}">Nova vaga</a></label>
        <hr>
        {%for vagas in total_candidatos %}
       
        <h3 id="titulo_vaga"> {{ vagas.nome_da_vaga }} <h3> 
        <ul class="ul_vaga"> 
            </li> <b> Faixa salarial: </b> <span>{{ vagas.faixa_salarial }}</span></li> <br>
            </li> <b>Escolaridade mínima:</b>  {{ vagas.escolaridade_minima }}</li> <br>
            </li> <b>Número de candidatos:</b>  {{ vagas.count }}</li> <br>
            </li> <b>Postada em:</b> {{ vagas.data_hora}}</li>  <br>  
        </ul>
        <br>
            <label class='link_label'> <a   href="{% url 'candidatos' vagas.id%}">Ver candidatos</a></label>
            <label class='link_label'> <a  href="{% url 'vaga_updade' vagas.id%}">Alterar</a></label>
            <label class='link_label'> <a  href="{% url 'confirm_delete' vagas.id%}"> Excluir</a></label>
        <hr> 
        {%endfor%}
<body>
</html>


