vagas cadastradas
<p><a style=" color: #CD0000;" href="{% url 'logout'%}">Sair</a></p>
<p><a style=" color: #1f00cd;" href="{% url 'criar_vaga'%}">Nova vaga</a></p>

{%for vagas in minhas_vagas %}
    <li>{{ vagas.nome_da_vaga }} 
        - {{ vagas.faixa_salarial }} 
        - {{ vagas.escolaridade_minima }}
        <p><a style=" color: #1f00cd;" href="{% url 'vaga_updade' vagas.id%}">Alterar</a></p>
        <p><a style=" color: #1f00cd;" href="{% url 'confirm_delete' vagas.id%}">Excluir</a></p>
    </li>
    
{%endfor%}