<h1>Cadastro de usuário</h1>

<!DOCTYPE html>

<html lang= "pt-br" >
<head >
    <meta charcet="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> VieWorld  </title>

    <meta charcet="UTF-8">
    <meta name="cor" content="width=device-width,initial=scale=1">
    <meta name="description" content="Rede SociL cor">
   <!-- <meta name="keyWords" content="fluxo de caixa, gestão, controle de estoque"> -->
    <meta name="author" content="cor">
</head>
<body>
    

    <div class='div_mae'>
      
        <form class='form_logim' method="post" >
            <P  style="color:black; font-size: 25px;">VieWorld</P>
            {% csrf_token %}
            <hr>
            {% if mensagen_de_erro_email %}
            <br>
            <label style='color:red;'>{{mensagen_de_erro_email}}!</label>
            {% endif %} <br>
            
            <input class="form_novo_usuário"   Type='email' name='email' 
                id='email' maxlength="50" placeholder="E-mail*..." required/>
            <br>
            <br>
            <input class="form_novo_usuário" Type='password' name='password' id='password' 
                minlength="6" maxlength="20" placeholder="Senha*..." required/>
            <br>     
            <input id='bt_login' type="submit" value="Cadastre-se">
            <br>
            <br>
             
        </form>

<body>
</html>