 
{% load static%}
<!DOCTYPE html>

<html lang= "pt-br" >
    <head>

        <meta charcet="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel = "icon" type = "image/png" href = "{% static 'img/v.png' %}"/>
        <title>  Vagas de emprego  </title>
        
        <script type="module" src="{% static 'js/mascaras.js' %}"></script>
        <link rel="stylesheet" href= "{% static '/style/novo_usuario.css'%}">
        
        <meta charcet="UTF-8">
        <meta name="cor" content="width=device-width,initial=scale=1">
        <meta name="description" content="Vagas de emprego">
        <meta name="keyWords" content="Vagas de emprego, emprego, vagas">
        <meta name="author" content="cor">
    
    </head>
    <div class='div_mae'>
        <form class='novo_usuario' method="post" >
            <P  style="color:black; font-size: 25px;">Vagas de emprego</P>
            {% csrf_token %}
            <hr>
            {% if mensagen_de_erro_email %}
            <br>
            <label style='color:red;'>{{mensagen_de_erro_email}}!</label>
            {% endif %} <br>
            
            <input   Type='email' name='email' 
                id='email' maxlength="50" placeholder="E-mail*..." required/>
            <br>
            <br>
            <input Type='password' name='password' id='password' 
                minlength="6" maxlength="20" placeholder="Senha*..." required/>
            <br> 
            <br> 
            <input Type='text' name='first_name' id='first_name' 
                 maxlength="20" placeholder="Nome..." required/>
            <br> 
            <br> 
            <input  Type='text' name='last_name' id='last_name' 
                 maxlength="20" placeholder="Segundo Nome..." required/>
            <br> 
            <br>  
            <input id='bt_cadastrar' type="submit" value="Cadastra">
            <br>
            <br>
             
        </form>
    </div>

    <body>
    </html>