{% load static%}
<!DOCTYPE html>

<html lang= "pt-br" >
<head >
    <meta charcet="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel = "icon" type = "image/png" href = "{% static 'img/v.png' %}"/>
    <title> ?  </title>

    <script type="module" src="{% static 'js/mascaras.js' %}"></script>
    <link rel="stylesheet" href= "{% static 'Style/home.css'%}">

    <meta charcet="UTF-8">
    <meta name="cor" content="width=device-width,initial=scale=1">
    <meta name="description" content="Rede SociL cor">
   <meta name="keyWords" content="emprego"> 
    <meta name="author" content="cor">
</head>
<body>
   

    <div class='div_mae'>
        
        
        <form class='form_logim' method="post" action="{% url 'login' %}">
            <P  style="color:black; font-size: 25px;">Login</P>
            {% csrf_token %}

            {% if form.errors %}
            <p style='color:red;'>Usuário ou senha inválido!</p>
            {% endif %}

            {% if next %}

            {% if user.is_authenticated %}
                <p style='color: red;' > Você está sem permissão de acesso, por favor,
                entre com um usuário autorizado ou  consulte o seu administrador!</p>
            {% else %}

                <p style='color: red;'>É necessário fazer login para acessar essa página!</p>
            {% endif %}
            {% endif %}
            
                <hr>
            <label id="username">Usuário:</label> <br>
                <td>{{ form.username }}</td>
                <br>
              <br>
            <label id="password">Senha:</label> <br>
                <td>{{ form.password }}</td>
              <br>
              <br>
            <input id='bt_login' type="submit" value="Entrar">
            <input type="hidden" name="next" value="{{ next }}">

             <br>
             <br>
             <hr>
               # <button id="bt_cadastrar"><a href="{% url 'recrutador_novo' %}">
                    Ou cadastre-se!</a></button>
            <br>
            <br>
            <br>
            
        </form>
    </div>

<body>
</html>

    