{% load static%}
<!DOCTYPE html>

<html lang= "pt-br" >
    <head>

        <meta charcet="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel = "icon" type = "image/png" href = "{% static 'img/v.png' %}"/>
        <title>  Vagas de emprego  </title>
        
        <script type="module" src="{% static 'js/mascaras.js' %}"></script>
        <link rel="stylesheet" href= "{% static '/style/login.css'%}">
        
        <meta charcet="UTF-8">
        <meta name="cor" content="width=device-width,initial=scale=1">
        <meta name="description" content="Vagas de emprego">
        <meta name="keyWords" content="Vagas de emprego, emprego, vagas">
        <meta name="author" content="cor">
    
    </head>
    <div class='div_mae'>
        
        
        <form class='form_logim' method="post" action="{% url 'login' %}">
            <P  style="color:black; font-size: 25px;">Login</P>
            {% csrf_token %}

            {% if form.errors %}
            <p style='color:red;'>Usuário ou senha inválido!</p>
            {% endif %}

            {% if next %}
                <p style='color: red;'>Para continuar é necessário fazer login!</p>
            {% endif %}
            
                <hr>
            <label id="username">Usuário:</label> <br>
                <td>{{ form.username }}</td>
                <br>
              <br>
            <label id="password">Senha:</label> <br>
                <td>{{ form.password }}</td>
              <br>
              <br>
            <input id='bt_login' type="submit" value="Entrar">
            <input type="hidden" name="next" value="{{ next }}">

             <br>
             <br>
             <hr>
             <h5>Ou cadastre-se!</h5>
                <button id="bt_cadastrar"><a href="{% url 'recrutador_novo' %}">
                Recrutador</a></button>
                 <button id="bt_cadastrar"><a href="{% url 'candidato_novo' %}">
                    Candidatar</a></button>
            <br>
            <br>
            <br>
            
        </form>
    </div>

<body>
</html>

    