
      
        <form class='form_logim' method="post" >
            <P  style="color:black; font-size: 25px;">Novo reccrutador</P>
            {% csrf_token %}
            <hr>
            {% if mensagen_de_erro_email %}
            <br>
            <label style='color:red;'>{{mensagen_de_erro_email}}!</label>
            {% endif %} <br>
            
            <input class="form_novo_usuário"   Type='email' name='email' 
                id='email' maxlength="50" placeholder="E-mail*..." required/>
            <br>
            <br> 
            <input class="form_novo_usuário" Type='password' name='password' id='password' 
                minlength="6" maxlength="20" placeholder="Senha*..." required/>
            <br>  
            <br>       
            <input class="form_novo_usuário" Type='text' name='first_name' id='first_name' 
                minlength="6" maxlength="20" placeholder="Nome..." required/>
            <br>  
            <br> 
            <input class="form_novo_usuário" Type='text' name='last_name' id='last_name' 
                minlength="6" maxlength="20" placeholder="Segundo Nome..." required/>
            <br> 
            <br>
            <input id='bt_login' type="submit" value="Cadastre-se">
            <br> 
            
        </form>

